@import url('http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
#wuf-adv,
#header {
  display: none !important;
  opacity: 0 !important;
}
.wufoo {
  font-family: 'Lora', 'Times New Roman', serif;
  color: #404040;
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
.wufoo input {
  display: block;
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  background: none;
  box-shadow: none !important;
  resize: none;
  line-height: 1.42857143;
  background-image: none;
}
.wufoo input:focus {
  opacity: 2;
  outline: 0;
}
.wufoo input.field.text {
  height: 34px;
  width: 100%;
  font-size: 1.5em;
  border-radius: 0;
  color: #555;
  border: none;
  outline: 0;
  border-bottom: 1px solid #999;
}
.wufoo input.field.text:focus {
  opacity: 2;
  background-color: #fff;
  outline: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.wufoo textarea,
.wufoo textarea.textarea {
  width: 100%;
  font-size: 1.5em;
  border-radius: 0;
  color: #555;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #999;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  resize: none;
  background-image: none;
  outline: 0;
}
.wufoo textarea:focus,
.wufoo textarea.textarea:focus {
  opacity: 2;
  background-color: #fff;
  outline: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.wufoo label,
.wufoo label.desc {
  display: block;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.764705882em;
  vertical-align: baseline;
  opacity: 1;
  color: #999;
  font-style: normal;
}
.wufoo::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #999;
}
.wufoo .leftLabel .desc {
  width: 25%;
}
.wufoo li {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
.wufoo .buttons .btTxt.submit {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
  color: #333;
  background-color: #fff;
  border-color: #999;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-appearance: none;
}
.wufoo .buttons .btTxt.submit:hover,
.wufoo .buttons .btTxt.submit:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}
.wufoo li.buttons {
  padding-left: 82% !important;
}
