---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-10">
			{{ content }}
		</div>
		<div class="col-lg-2">
			<div class="cats-tags">
				<p>Categories</p>
				<ul>
			{% for category in site.categories %}
				<li>
					<a href="/blog/category/{{ category | first | slugize }}/">
					{{ category | first }} {{ category | last | size }}
        			</a>
				</li>
			{% endfor %}
				</ul>
				<p>Tags</p>	
				<ul>		
			{% for tag in site.tags %}
				<li>
					<a href="/blog/tag/{{ tag | first | slugize }}/">
					{{ tag | first }} {{ tag | last | size }}
        			</a>
				</li>
			{% endfor %}
				</ul>
			</div>
		</div>	
	</div>
</div>

<hr>
